.content_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: darkblue;
	font-weight: bold;
	padding-left: 5px;
}

.normal_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	word-spacing:normal; 
    text-align:justify;
    padding-left: 20px;
    padding-right: 20px;
}mainlink_normalletters



.homeIconMenu_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	word-spacing:normal; 
    text-align:justify;
    padding-left: 20px;
    padding-right: 20px;
}mainlink_normalletters


.table_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	word-spacing:normal; 
    text-align:justify;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
}mainlink_normalletters


.gallery_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: blue;
}

.song_content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: blue;
	font-weight: bold;
    text-align:center;
}

.imp_sentence{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: red;
	font-weight: bold;
    text-align:justify
}

.clickHere{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
    border:2px solid; 
    border-radius: 200px 60px 200px;  
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;
    margin-left:750px;

	box-shadow: 0 7px 1px #9c9c9c;
    text-shadow:3px 10px 8px #000;

/* Inner Shadow*/
/*-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;*/
}

.clickHere1{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
    border:2px solid; 
    border-radius: 200px 60px 200px;  
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;
    margin-left:-650px;

	box-shadow: 0 7px 1px #9c9c9c;
    text-shadow:3px 10px 8px #000;
}


.clickHereEnglish{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
    border:2px solid; 
    border-radius: 200px 60px 200px;  
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;
    margin-left:750px;

	box-shadow: 0 7px 1px #9c9c9c;
    text-shadow:3px 10px 8px #000;

/* Inner Shadow*/
/*-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;*/
}

.highlight_sentence{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #d600a3;
	font-weight: bold;
    text-align:justify
}

.headerImag {
	padding-left: 10px;	
}

.imp_word {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: red;
	font-weight: bold;
	padding-left: 5px;	
}

.underline{
background: #ffffff url(../tamil/images/underline.gif) repeat-x 3px 5px;
margin:0px;
width:100%;
}

.language{
background: #ffffff url(images/date_bar_middle.jpg) repeat-x 1px 1	px;
margin:0px;
width:100%;
}

.content_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: darkblue;
	font-weight: bold;
	padding-left: 5px;
}


a:link {
	text-decoration: none;
}

a:hover {
	color: red;
}


.backlink {
width:100px;
position:relative;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:white;
font-size:12px;
padding:0px;
margin:0px;
text-align:left;
top: 140px; left: 235px;
}

.Bak_mainlink {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration: none;
	background-color: 8cd1ed;
	line-height: 20px;
	font-variant: normal;
	word-spacing: normal;
	white-space: normal;
	letter-spacing: normal;
	text-transform: capitalize;
}

.mainlink {
	font-size: 14px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
	background-color: darkblue;
	line-height: 20px;
	font-variant: normal;
	word-spacing: normal;
	white-space: normal;
	letter-spacing: normal;
	text-transform: capitalize;
}

.mainlink_normalletters {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: white;
	text-decoration: none;
	background-color: darkred;
	line-height: 20px;
	font-variant: normal;
	word-spacing: normal;
	white-space: normal;
	letter-spacing: normal;
}

.bak_sublink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	line-height: 20px;
	background-color: #d7eaa5;
}

.sublink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #006600;
	line-height: 20px;
	background-color: #d7eaa5;
}

.News_Content {
	font-size: 12px;
	color: darkblue;
	line-height: 20px;
}

.inner_text {
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	text-align: justify;
}

.Padal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	padding-left: 40px;	
}


.sublink_current {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: Darkblue;
	line-height: 20px;
    font-weight:bold;

}
.bak_mainlink_current {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration: none;
	line-height: 20px;
	font-variant: normal;
	word-spacing: normal;
	white-space: normal;
	letter-spacing: normal;
	text-transform: capitalize;
}


.mainlink_current {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: Darkblue;
	text-decoration: none;
	line-height: 20px;
	font-variant: normal;
	word-spacing: normal;
	white-space: normal;
	letter-spacing: normal;
	text-transform: capitalize;
}


.verdana_9_bold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.text_underline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	text-decoration: underline;
}
a.links_within:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #26A6DD;
	text-decoration: underline;
}

a.links_within:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #26A6DD;
	text-decoration: underline;
}

.mainlink_active {
	font-size: 12px;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	text-decoration: none;
	background-color: #C8E9F7;
	line-height: 20px;
	font-variant: normal;
	word-spacing: normal;
	white-space: normal;
	letter-spacing: normal;
	text-transform: uppercase;
}
.txt {font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-variant: normal;
	text-transform: uppercase;
}
.sra_tables {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: capitalize;
	color: #000000;
}
.table_nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
.table_text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.big_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	color: #333333;
	font-weight: bold;
}
.right_align {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-align: right;
}
.center_align {
	background-position: center;
	text-align: center;
}

.Header1 
{
	background: #FFF url(images/date_bar_middle.jpg) repeat-x 5px 1px;
	COLOR: #8cd1ed; 
	POSITION: relative;
	font-weight: bolder;
}


.header{
	width: 170px;
	background: #66cccc;
	margin: 3 auto;
	color: #ffffff;
	font-weight: bold ;
	FONT-SIZE: 9px;
}

.upper{
	font-weight: bold ;
	FONT-SIZE: 18px;
	text-transform: uppercase; 
}

.EnglishText{
	font-weight: bold ;
	FONT-SIZE: 16px;
    color:#0096d6;
}

.Box {
	BORDER-RIGHT: blue 2px solid; PADDING-RIGHT: 1px; 
	BORDER-TOP: blue 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 2px 0px 5px 1px; 
	BORDER-LEFT: blue 1px solid; PADDING-TOP: 1px; 
	BORDER-BOTTOM: blue 1px solid; POSITION: relative;
}

.cntbulltopl {
	FONT-SIZE: 2px; LEFT: -1px; BACKGROUND-IMAGE: url(http://64.27.74.18/bull_l_t.gif); WIDTH: 2px; LINE-HEIGHT: 2px; POSITION: absolute; TOP: -1px; HEIGHT: 2px
}




.menu:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
	background: #032b88;
}


/*BODY {
	FONT-SIZE: 12pt; BACKGROUND-IMAGE: url(http://img.dinamalar.com/imagescss/bgstrike.gif); MARGIN: 0px
}*/


.cdCoverBackground{
	background-image :url('../tamil/images/cdsticker.jpg');
}
