/*======= index-1.html =======*/
#page2 #content .col-1 {width:199px; margin-right:32px;}
#page2 #content .col-2 { width:193px; margin-right:38px;}
#page2 #content .col-3 { width:197px;}

/*======= index-3.html =======*/
#page4 #content .col-1 {width:199px; margin-right:32px;}
#page4 #content .col-2 { width:193px; margin-right:38px;}
#page4 #content .col-3 { width:197px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:199px; margin-right:32px;}
#page5 #content .col-2 { width:193px; margin-right:38px;}
#page5 #content .col-3 { width:197px;}

/*======= index-5.html =======*/
#page6 #content .row-1 .col-1 {width:199px; margin-right:32px;}
#page6 #content .row-1 .col-2 { width:193px; margin-right:38px;}
#page6 #content .row-1 .col-3 { width:197px;}
#page6 #content .row-2 .col-1 {width:203px; margin-right:28px;}
#page6 #content .row-2 .col-2 { width:203px; margin-right:25px;}
#page6 #content .row-2 .col-3 { width:199px;}


/*=========================*/


