/* body {
    padding-top: 0px;
    width:1100px;
    margin: 10px auto;
    font-family:'HP Simplified';
} */

.divider_grey{
    clear:both;
    border-bottom:2px dotted #FF8000;
    margin:00 auto;
    width:1100px;    
    margin-top: 2px;
    padding-top: 15px;
    margin-bottom:2px;
    position:relative;
}
/******************************** fonts ******************************/
div {font:normal 13px/25px 'HP Simplified';}
div p {font:normal 13px/25px 'HP Simplified';}
h2 {font:bold 35px/48px 'HP Simplified';}
h3 {font:bold 30px/42px 'HP Simplified' !important; margin:5px 0px 15px 0px;}
h4 {font:small bold 15px/20px 'HP Simplified' !important;}

h3 {color:#444;}

.menuDefaultText{
    color:#ff34b3;
    width:100px;
    text-decoration:none; 
    font-weight:bold; 
}

.cdpTopInfoBar{
    top:0px;
    margin:0px auto;
    margin-top:10px;
    width:980px;
    height:55px;
    text-align:right;
    padding:2px 0px;
    overflow:visible;
    z-index:9999;
}
.cdpTopInfoBar p{
    margin:0px;padding:0px;
}
.cdpTopInfoBar .userlabel{
    width:500px; 
    display:inline-block;
    margin-top:5px;
    float:right;
}
.cdpTopInfoBar .userOptionsButton{
    display:inline-block;
    width:28px;
    height:30px;
    margin-left:5px;
    background: transparent url('images/setting.png') no-repeat;
    vertical-align:middle;
    margin-top:5px;
    position:relative;
    float:right;
}
.cdpTopInfoBar .userOptionsButton:hover{ 
    cursor:pointer; }

#useroptionsMenu { 
    list-style:none; padding:0px; margin:0px; position:absolute; top:28px; left:-155px; z-index:99999999;
    overflow:hidden;
    border-radius:10px;
    border:2px solid #0186ba;
    overflow:hidden;

    -webkit-transition: all 0.25s ease-in-out ;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out ;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out ;
}

#useroptionsMenu li {
    height:0px;
    overflow:hidden;
    opacity:0;
    position: relative;
    display:block;
    background-color:#f9f9f9;
    padding:0px;
    margin:0px;
    background-color:red;
    -webkit-transition: all 0.25s ease-in-out ;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out ;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out ;
}
#useroptionsMenu li.show{
    opacity:1;
    height:45px;
}
#useroptionsMenu li a {
    text-align:left;
    color:#333;
    width:150px;
    text-decoration:none; 
    font-weight:bold; 
    background-color:#f9f9f9;
    display:block;
    padding:10px;
    opacity:0;
    -webkit-transition: all 0.25s ease-in-out ;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out ;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out ;
}
#useroptionsMenu li.show a{
    opacity:1;
}
#useroptionsMenu li a:hover{
    color:#fff;
    background-color: #0186ba;
}




.cdpHeader{    
    width:1100px;
    height:80px;
    position:relative;
    margin:30px 0px 30px 0px; /*hp style */
}
.hpLogoItem{
    padding:0px;
    text-indent:-99999px;
    display:block;
    position:absolute;
}
.hpLogoText{
    background:transparent url('images/mdp-logo.png') no-repeat;
    width:650px;
    height:67px;
    left:0px;
    top:0px;
}



/*h2 .hpLogoText { font-family:'HP Simplified';color:#333; 
                 -webkit-text-shadow:20px 12px 2px red;
                 //text-shadow:2px 2px 1px #bbb;

                 text-decoration:none;
}
h2 .hpLogoText:hover{color:#111;text-decoration:none;}*/
/*.hpLogoItem{
    padding:0px;
    text-indent:-99999px;
    display:block;
    position:absolute;
}
.hpLogoText{
    background:url('images/logotxt.png') no-repeat #fff;
    width:518px;
    height:45px;
    left:18px;
    top:14px;
}*/
.hpLogo{
    background:url('images/logo.png') no-repeat #fff;
    width:72px;
    height:72px;
    right:10px;
    top:0px;
    opacity:0.9;

}
.hpLogo:hover {cursor:pointer; opacity:1;}

.nelvin{color:blue;font-family:'Times New Roman';font-size:23px;}

.cdpLineBreaker{

}

/************************************ Home Page QuickInfo Links ********************************/
.cdpQiContainer{height:186px;  }
.cdpQiLink{
    position:relative;
    border-radius:20px 0px 20px 0px;
    width:100px;/* changing the position of the circle image  - Muthu */
    margin:0 auto;
    height:200px;
}
.cdpQiLink .image{
    position:relative;
    margin:0 auto;
    top:15px;
    width:150px;	/* changing the size of the circle image  - Muthu */
    height:150px;
    overflow:hidden;
    border-radius:150px;   /* changing the circle shape - Muthu */
    /*border:5px solid #42bee6;*/
    border:5px solid #FF8000;    /* changing the circle color - Muthu - #0099d8 */  
    opacity:0.5;
}
.cdpQiLink .topic{
    position:relative;
    top:10px;
    width:70%;
    margin:0 auto;
    text-align:center;
    text-transform:uppercase;
    opacity:0.7;
    color:#333;
    font-weight:bold;
    font-size:13px;
}
.cdpQiMyProfile .image{background:url('images/myprofile.png') no-repeat;}
.cdpQiMyProfile .image img{
    width:100%;
    height:100%;
    overflow:hidden;
    border-radius:150px;
}
.cdpQiTrainingsAttended{
     /*top:15px; top:10px;
    left:270px;*/    
}
.cdpQiTrainingsAttended .image{background:url('images/trainings.png') no-repeat;}
.cdpQiMyCertification{
    /*top:95px; top:10px;
    left:480px;*/
}
.cdpQiMyCertification .image{background:url('images/mycertification.png') no-repeat;}
.cdpQiMyRating {
    /*top:35px; top:10px;
    left:690px;*/
}
.cdpQiMyRating .image{background:url('images/rating.png') no-repeat;}
.cdpShadow{
    -moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

.cdpQiLink:hover,
.cdpQiLink:hover > .image,
.cdpQiLink:hover > .topic,
.cdpQiLink:hover > .cdpQiBox{
    opacity:1	;
    cursor:text;
}

/*************************** cdpQuickInfo Boxes ************************************/
.cdpQiBox{
    width:0px;
    height:0px;
    opacity:0;
    border:3px solid #0099d8 ;
    border-radius:10px;
    background-color:#fff;
    z-index:12;
    position:absolute;
    padding:10px;
    overflow:hidden;
    text-align:left;

    /*background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#d9fa9a,  #fff);
	background: linear-gradient(#d9fa9a,  #fff);*/
    
    /*-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;

    -webkit-transition: opacity .30s ease .1s;
	-moz-transition: opacity .30s ease .1s;
	-o-transition: opacity .30s ease .1s;
	-ms-transition: opacity .30s ease .1s;
	transition: opacity .30s ease .1s;*/

    -webkit-transition: all 0.25s ease-in-out ;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out ;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out ;
}
.cdpQiBox .head{
    margin:0;padding:0px;
    font-weight:bold;
    top:10px;
    left:0px;
    width:100%;
    height:32px;
    text-transform:uppercase;
    background:url('images/dialog/dialogheadbg.png') 0px 0px repeat-x;
}
.cdpQiBox .content{
    /*head-height:32 and footer-height:15... total = 47*/
    min-height:80px;
    height:150px;
    text-align:left;
}
.cdpQiBox .content tr { line-height:18px; padding:0px; margin:0px;}
.cdpQiBox .content a,
.cdpQiBox .footer a {color:#1e97ca; font:bold 14px/20px 'HP Simplified'; text-decoration:none; opacity:0.9;}
.cdpQiBox .footer a:hover,
.cdpQiBox .content a:hover {color:#117caa; text-decoration:underline; opacity:1;}

.cdpQiBox .viewFullScreen{
    float:left;
    margin-left:10px;
    font-size:13px;
}
.cdpQiBox .footer{
    width:100%;
    height:15px;
    margin-top:0px;
    padding:5px;
}
.cdpQiBox th{padding-right:5px; text-align:left; font-weight:bold;}
.cdpQiBox td{padding-left:10px;}

.cdpQiMyProfile .cdpQiBox {top:0px;left:0px;}
.cdpQiMyProfile:hover > .cdpQiBox { opacity:1; left:0px;top:-400px;width:400px;height:400px;}

.cdpQiTrainingsAttended .cdpQiBox {top:0px;left:0px;}
/* on hover circle dispaly - Muthu */
.cdpQiTrainingsAttended:hover > .cdpQiBox { opacity:1;left:150px;top:70px;width:100px;height:100px; }
/* .cdpQiTrainingsAttended:hover > .cdpQiBox { opacity:1;left:0px;top:-170px;width:350px;height:170px; } */

.cdpQiMyRating .cdpQiBox {top:0px;left:0px;}
.cdpQiMyRating:hover > .cdpQiBox { opacity:1;left:-10px;top:-400px;width:400px;height:400px;}

.cdpQiMyCertification .cdpQiBox {top:0px;left:0px; overflow-y:scroll;}
.cdpQiMyCertification:hover > .cdpQiBox { opacity:1;left:-400px;top:-250px;width:550px;height:250px;}

 
.cdpQiBox td .statusIcon {width:18px; height:20px; }
.cdpQiBox td .PendingApproval,
.cdpQiBox td .PendingCompletion {background:transparent url('images/ptime.png') no-repeat;}
.cdpQiBox td .PendingExam {background:transparent url('images/time.png') 0px 1px no-repeat;}
.cdpQiBox td .Approved,
.cdpQiBox td .Completed {background:transparent url('images/approved.png') no-repeat;}


/*************************************** Modal Viewer ******************************/
.cdpWindowMask {position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
   
}
.cdpWindowModal{
  position:fixed;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius:20px;
}
.cdpWindowModal .content{
    margin:50px 80px 50px 90px;
}
.cdpWindowModal .content .content{
    margin:0px;
}
.cdpWindowModal .content .viewFullScreen{visibility:hidden;}
.cdpWindowModal .content .head{
    margin:0;padding:0px;
    font-weight:bold;
    font-size:16px;
    top:10px;
    left:0px;
    width:100%;
    height:32px;
    text-transform:uppercase;
    border-bottom:2px solid #04acec;
    margin-bottom:20px;   
}
.cdpWindowModal .content ul{ margin:0; padding:0;list-style:none;}
#cdpFullScreenWindow {
    background:#fff;
    width:800px; 
    height:650px;
    padding:10px;
    border:5px solid #ccc;
    border-radius:20px;
}



/****************************** Sub Notes *******************************/
.cdpRow {
    width: 998px;
    overflow: hidden;
    margin: 0px auto;
    padding:0px;
}
.subnote {
    float:left;
    margin: 15px;
    width: 290px;
    height: 200px;
    padding:8px;
}
.subnote h2{
    font-weight: 500;
    line-height: 1.1;
    margin-top:0px;
}

/********************************* Slider ********************************/
#cdpHeadSlider {
  position: relative;
  overflow: hidden;
  margin:0px auto;  
  -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:10px;
    border:0px solid #fff;
    transition: all 0.9s ease-in-out;
    border:5px solid #fff;

	background-repeat:no-repeat;
	background-position:center top;
	background-image:url(../images/hillView.jpg); 
	background-attachment:fixed;  

}

#cdpHeadSlider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  list-style: none;
}

#cdpHeadSlider ul li {
  width:1100px;
  height:300px;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 300px;
}

.cdpBanner{
    width:996px;
    height:300px;
}
.banner1{background:url('../Tamil/images/BannerImages/Banner1_ContentPage.jpg') no-repeat;}
.banner2{background:url('../Tamil/images/BannerImages/Banner2_ContentPage.jpg') no-repeat;}
.banner3{background:url('../Tamil/images/BannerImages/Banner3_ContentPage.jpg') no-repeat;}
.banner4{background:url('../Tamil/images/BannerImages/Banner4_ContentPage.jpg') no-repeat;}
.banner5{background:url('../Tamil/images/BannerImages/Banner5_ContentPage.jpg') no-repeat;}
.banner6{background:url('../Tamil/images/BannerImages/Banner6_ContentPage.jpg') no-repeat;}
.banner7{background:url('../Tamil/images/BannerImages/Banner7_ContentPage.jpg') no-repeat;}
.banner8{background:url('../Tamil/images/BannerImages/Banner8_ContentPage.jpg') no-repeat;}

.bannerdescriptionbox{
    position:relative;
    width:1150px; height:90px; 
    top:210px;
    background-color:#333;  
    opacity:0.8;
    z-index:8;
}
.bannerdescription{
    padding:0;margin:0;
    position:relative;
    width:1150px;height:90px;
    top:120px;
    opacity:1;
    z-index:10;
    color:#fff;
    overflow:hidden;
}
.bannerdescription h3{margin:0;padding:0 8px;text-align:left; color:#FF8000;
  	font-family: Arial, Helvetica, sans-serif;
}

.bannerdescription h5{
    margin:0;padding:0 8px;text-align:left; 
    /*font:normal 15px/18px 'HP Simplified'; color:#fff;*/
  	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
    color:#ffffff;
    padding-left:10px;

}

#sliderStatus {position:absolute;z-index:12;top:5px;width:70px;right:5px;height:20px; 
               opacity:1; 
               /*-webkit-border-radius:20px;
               -moz-border-radius:20px;
               border-radius:20px;
               border:2px solid #aaa;*/
               overflow:hidden;
               color:#fff;
}
.sliderStatusPlaying {background:url('images/play.png') 4px 2px no-repeat}
.sliderStatusPaused {background:url('images/paused.png') 2px 2px no-repeat}
.validNotice{font-weight:bold; color:#f80808;  background-color:#f9f11c;}
.blankNotice{background-color:#fff;}




div.UserMessage { display:block; width:100%;}
div.UserMessage div {display:block; width:inherit;}
div.UserMessage .head {font:bold 18px/23px 'HP Simplified'; margin:10px;  }
div.UserMessage .description {font:normal 14px/20px 'HP Simplified'; margin:10px;}

div.norecord,
li.norecord { background:transparent url('images/alert.jpg') 0px 4px no-repeat !important; padding:0px 0px 0px 25px !important; font-weight:normal; margin:0px; border:none;  font-family:'HP Simplified';}

#tinylabel {margin-left:25px; padding-left:35px; background:transparent url('images/howto.png') no-repeat; color:#666;}
.highlight {font-weight:bold; color:#0096d6}
#tinylabel.requirednotice { color:#f54444;}





/*****************************cdpMenu *******************************************/
/*
.hpMenuContainer{
    width:350px;
    margin-top:-70px;
    padding:0px;
    height:50px;
    color:blue;
} */


/*Reset Menu*/
#cdpMainMenu,
#cdpMainMenu ul,
#cdpMainMenu li,
#cdpMainMenu a {

	margin: 0;
	padding: 0;
	border: none;
	outline: none;
    /*text-shadow: 1px 1px 1px rgba(0,0,0,.1);*/
}
/* Main menu */
#cdpMainMenu
{
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	list-style: none;  
    
    -moz-border-radius:8px 8px 0px 0px;
    border-radius:8px 8px 0px 0px;

    margin-bottom:10px;
    /*border-bottom:1px solid #ccc;*/
    
	/*background: #f6f6f6;
	background: -moz-linear-gradient(#f6f6f6, #f9f9f9); 
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f9f9f9),color-stop(1, #f6f6f6));	
	background: -webkit-linear-gradient(#f6f6f6, #f9f9f9);	
	background: -o-linear-gradient(#f6f6f6, #f9f9f9);
	background: -ms-linear-gradient(#f6f6f6, #f9f9f9);
	background: linear-gradient(#f6f6f6, #f9f9f9);*/

	/*-moz-box-shadow: 0 2px 1px #9c9c9c;*/
	/*-webkit-box-shadow: 0 2px 1px #9c9c9c;*/
	/*box-shadow: 0 2px 1px #9c9c9c;*/*/
}

#cdpMainMenu li
{
	position: relative;
	float: left;
    display:block;
	line-height: 0;
	color: red;
}
#cdpMainMenu li a 
{
	float: left;
	height: 35px;
	padding: 5px 25px;
	color: #0096d6;
	text-transform: uppercase;
    font: bold 13px/25px 'HP Simplified';
	text-decoration: none;

    /*-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out;
	transition: color .1s ease-in-out;*/
}
#cdpMainMenu ul li a {
    font-weight: normal;
}
/*this is the first or level0 LI element*/
#cdpMainMenu > li:hover > a
{
	color: #fafafa;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background:#eee;
    background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);
}

*html #cdpMainMenu li a:hover /* IE6 */
{
	color: #fafafa;
}

/* Sub-menu */
#cdpMainMenu ul
{
    position: absolute; 
    opacity:0;
    top: 49px;
    left: 0;
    list-style: none;
    z-index:999;    
    border:1px solid #d3d5d5;
    border-top:none;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    
    -webkit-transition: all .30s ease .1s;
	-moz-transition: all .30s ease .1s;
	-o-transition: all .30s ease .1s;
	-ms-transition: all .30s ease .1s;
	transition: all .30s ease .1s; 
}
#cdpMainMenu li:hover>ul{opacity:1;}
#cdpMainMenu ul li
{
    height: 0;
	overflow: hidden;
	padding: 0;
    background-color:#fff;
    opacity:0.92;
    /*border-bottom: 1px solid #d3d5d5;*/   
    -webkit-transition: all .25s ease .1s;
	-moz-transition: all .25s ease .1s;
	-o-transition: all .25s ease .1s;
	-ms-transition: all .25s ease .1s;
	transition: all .25s ease .1s;
}
#cdpMainMenu li:hover> ul li{
    height:42px;
	overflow: visible;
	padding: 0;    
}
#cdpMainMenu ul li a {
    color:#0096d6;
    font-weight:bold;
    -webkit-transition: all .25s ease .1s;
	-moz-transition: all .25s ease .1s;
	-o-transition: all .25s ease .1s;
	-ms-transition: all .25s ease .1s;
	transition: all .25s ease .1s;
}
#cdpMainMenu ul a
{    
    padding: 16px;
	width: 250px;
	height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
	text-transform: none;
}
#cdpMainMenu ul li:hover{
    background-color: #35b8ef;
    opacity:1;
}
#cdpMainMenu ul li:hover>a
{
    /*background: #35b8ef;*/
    color:#fff;
    border-radius:0px;
   

	/*background: -moz-linear-gradient(#04acec,  #0186ba);	
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background: -webkit-linear-gradient(#04acec,  #0186ba);
	background: -o-linear-gradient(#04acec,  #0186ba);
	background: -ms-linear-gradient(#04acec,  #0186ba);
	background: linear-gradient(#04acec,  #0186ba);*/

    
}

#cdpMainMenu ul li:last-child
{
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    border-bottom:1px solid rgba(0,0,0,.1);
}
#cdpMainMenu ul li:last-child > a
{
    -moz-border-radius: 0 0 8px 5px;
    border-radius: 0 0 8px 5px;
}

/* make sure li:first-child is placed after li:last-child so that if there is only one sub-menu item.. the first-child property is triggered and not the last-child property*/
/*#cdpMainMenu ul li:first-child{
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#cdpMainMenu ul li:first-child>a{
    -moz-border-radius: 0px;
    border-radius: 0px;
}*/


/* Styling 1st Level Sub Menu*/
/*#cdpMainMenu ul li:first-child{border-top:2px solid #ccc;}
#cdpMainMenu ul li:first-child:hover{border-top:2px solid #04acec;}*/
/*#cdpMainMenu ul li:first-child > a:after
{
    content:'';
    position: absolute;
    left: 10px;
    top: -6px;
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #ffe;
}*/
/*#cdpMainMenu > ul li:not(first-child) > li:first-child{ border-top:1px solid red;}*/
#cdpMainMenu > ul li:first-child,
#cdpMainMenu ul li > ul li:first-child{border-top:1px solid #ccc; } /* #35b8ef; } */

#cdpMainMenu ul li:first-child a:hover:after
{
    border-bottom-color: #04acec; 
}
#cdpMainMenu ul ul li:first-child a:hover:after
{
    border-right-color: #04acec; 
    border-bottom-color: transparent; 	
}

/* Sub Sub-Menu*/
#cdpMainMenu ul ul
{
  top: 0px;
  left: 280px;
}
/*Styling 2nd level Sub Menu*/
#cdpMainMenu ul ul li:first-child a:after
{
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;	
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #ffe;
    
}
/*#cdpMainMenu ul li:first-child ul li:first-child{border-top:1px solid #ccc;}
#cdpMainMenu ul li:first-child ul li:first-child:hover{border-top:1px solid #04acec;}*/

/* Clear floated elements */
#cdpMainMenu:after 
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html #cdpMainMenu             { zoom: 1; } /* IE6 */
*:first-child+html #cdpMainMenu { zoom: 1; } /* IE7 */


/****************************** MENU ICON CLASSES *****************************/
.cdpIconDocs{}
.cdpIconArrow {
}



/**********************************************/
.validation-error { border-color:red;}




/*******************************************************************************/
.form-horizontal { padding-top:20px; padding-bottom:20px;}
.form-group input[type="text"] {font:16px/25px 'HP Simplified'; background-color:#fff; border:1px solid #cde3ec; outline:none; color:#444; border-radius:8px; overflow:hidden;}


input.w_1 { width:580px; padding:5px 10px; height:35px; }
input.w_2 { width:420px; padding:5px 10px; height:35px; }
input.w_3 {width:350px;  padding:5px 10px; height:35px; }

div[class='form-horizontal'] {width:inherit;display:block; clear:both;  }
.form-group {display:block; padding:5px; margin:0px; vertical-align:top;   }

.control-label {display:inline-block; padding:5px;  font-weight:bold; vertical-align:top; color:#333; margin:5px 0px;  }
.col-md-2 {width:150px;}
.col-md-3 {width:230px;}
.col-md-10 {width:600px; display:inline-block;}
.col-md-15 {width:900px; }


ul.item-with-button div {display:inline-block; vertical-align:top; margin-bottom:8px;}
ul.item-with-button input[type="text"] { 
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
    margin:0px;
    width:480px;
    height:25px;
}
ul.item-with-button select {
    margin:0px;
    width:492px;
    height:150px;
}

ul.item-with-button select.mini{ height:80px;}


ul.item-with-button {padding:0; margin:0;}
ul.item-with-button li div.buttons {display:block; clear:both; height:37px;}
ul.item-with-button li a { border-radius:8px; border-top-left-radius:0px; border-bottom-left-radius:0px; margin-left:8px;}
ul.item-with-button li .button {height:36px; line-height:34px; width:180px; }

.form-group .collapsible ul {list-style:none;}
.form-group .collapsible { width:750px;}
.form-group .collapsible .header {
    display:block; clear:both; width:inherit; margin:30px 0px 10px 0px; padding:8px; font:bold 17px/25px 'HP Simplified',Arial; color:#444; background-color:#f4f5f5;
}
.form-group .collapsible.mini {border:1px solid #ddd; overflow:hidden; border-radius:10px; width:765px;}
.form-group .collapsible.mini .header {margin-top:0px;}
.form-group .collapsible .header label {margin-left:8px;} 
.form-group .collapsible .content {padding:0; margin:0; padding-left:10px; }



.listboxwrapper select {width:560px; padding:5px;}
.label.type1 {border-radius:8px 8px 0px 0px;}

.applyanimate {
     -webkit-transition: all 0.80s ease-in-out ;
    -moz-transition: all 0.80s ease-in-out;
    -o-transition: all 0.80s ease-in-out ;
    -ms-transition: all 0.80s ease-in-out;
    transition: all 0.80s ease-in-out ;
}


.rowdivider_grey_bold {height:25px; margin-top:30px; border-top:3px dotted #ccc;}
.rowdivider_blank {height:25px; margin-top:30px; border:none;}

.related_links ul {padding:0px; margin:0px;}
.related_links li {list-style:none; background:transparent url('images/chain.jpg') 0px 4px no-repeat; padding-left:25px;}
.related_links a { color:#1e97ca; font:bold 14px/20px 'HP Simplified'; text-decoration:none; opacity:0.9;}
.related_links a:hover {color:#117caa; text-decoration:underline; opacity:1;}


.program_leads a {color:#1e97ca; font-weight:normal; text-decoration:none; opacity:0.9;}
.program_leads a:hover {color:#117caa; text-decoration:underline; opacity:1;}
.program_leads a.others {background: transparent url('images/halfperson.jpg') no-repeat; padding-left:25px;}

.program_leads .head {font:bold 16px/18px 'HP Simplified'; color:#aaa; margin-bottom:15px;}
.program_leads li {color:#444; font:normal 13px/20px 'HP Simplified'}


input.dimmed {color:red;}
input.bright {color:blue;}
.required {border:1px solid #fc8a87 !important;}



/********************************************** GPS **********************************/
.youarehere * {font:normal 12px/15px 'HP Simplified'; color:#888;}
.youarehere div {display:inline-block; }
.youarehere .yah_label {font-weight:bold; padding-right:8px; color:#04acec;}
.youarehere a {color:#848789; text-decoration:none;}

.youarehere a:hover{color:#0e98d3;text-decoration:underline;}



/*************************************error messages************************************************/
.warning_01 {background:#0096d6 url('images/warning_01.png') no-repeat; padding-left:140px;
             font:bold 23px/85px 'HP Simplified'; color:#fff; margin-bottom:15px;
}
.warning .description { color:red; }
.warning .explain a {font:bold 14px/16px 'HP Simplified'; color:#0096d6; text-decoration:none;}
.warning .explain a:hover {text-decoration:underline;}



/*********************************** DEV GRID ************************************/
.devGrid {margin-top:10px; border:1px solid #ccc;}
.devGrid th {background-color:#0096d6; font-weight:bold; color:#fff;}
.devGrid tr.oddRow td {background-color:#e9e9e9;}
.devGrid tr.evenRow td {background-color:#f3f3f3;}


/************************************ Other Stylings ********************************/

.style1_label {font-weight:bold; color:#333; display:inline-block;}
.style1_label_data {display:inline-block;font-weight:bold; color:#333;}


