
.cdpQiMyRating .image{background:url('images/rating.png') no-repeat;}
.cdpShadow{
    -moz-box-shadow: 0 2px 1px #9c9c9c;
	-webkit-box-shadow: 0 2px 1px #9c9c9c;
	box-shadow: 0 2px 1px #9c9c9c;
}

#cdpHeadSlider {
  position: relative;
  overflow: hidden;
  margin:0px auto;  
  -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:10px;
    border:0px solid #fff;
    transition: all 0.9s ease-in-out;
    border:5px solid #fff;
}

#cdpHeadSlider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 300px;
  list-style: none;
}

#cdpHeadSlider ul li {
  width:950px;
  height:475px;
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 300px;
}

.cdpBanner{
    width:950px;
    height:680px;
}
.banner1{background:url('../Tamil/images/oongaliAmman/1201.jpg') no-repeat;}
.banner2{background:url('../Tamil/images/oongaliAmman/1202.jpg') no-repeat;}
.banner3{background:url('../Tamil/images/oongaliAmman/1203.jpg') no-repeat;}
.banner4{background:url('../Tamil/images/oongaliAmman/1204.jpg') no-repeat;}
.banner5{background:url('../Tamil/images/oongaliAmman/1205.jpg') no-repeat;}
.banner6{background:url('../Tamil/images/oongaliAmman/1206.jpg') no-repeat;}
.banner7{background:url('../Tamil/images/oongaliAmman/1207.jpg') no-repeat;}
.banner8{background:url('../Tamil/images/oongaliAmman/1208.jpg') no-repeat;}
.banner9{background:url('../Tamil/images/oongaliAmman/1209.jpg') no-repeat;}
.banner10{background:url('../Tamil/images/oongaliAmman/1210.jpg') no-repeat;}
.banner11{background:url('../Tamil/images/oongaliAmman/1211.jpg') no-repeat;}
.banner12{background:url('../Tamil/images/oongaliAmman/1212.jpg') no-repeat;}
.banner13{background:url('../Tamil/images/oongaliAmman/1213.jpg') no-repeat;}
.banner14{background:url('../Tamil/images/oongaliAmman/1214.jpg') no-repeat;}
.banner15{background:url('../Tamil/images/oongaliAmman/1215.jpg') no-repeat;}
.banner16{background:url('../Tamil/images/oongaliAmman/1216.jpg') no-repeat;}
.banner17{background:url('../Tamil/images/oongaliAmman/1217.jpg') no-repeat;}
.banner18{background:url('../Tamil/images/oongaliAmman/1218.jpg') no-repeat;}
.banner19{background:url('../Tamil/images/oongaliAmman/1219.jpg') no-repeat;}
.banner20{background:url('../Tamil/images/oongaliAmman/1220.jpg') no-repeat;}
.banner21{background:url('../Tamil/images/oongaliAmman/1221.jpg') no-repeat;}
.banner22{background:url('../Tamil/images/oongaliAmman/1222.jpg') no-repeat;}
.banner23{background:url('../Tamil/images/oongaliAmman/1223.jpg') no-repeat;}
.banner24{background:url('../Tamil/images/oongaliAmman/1224.jpg') no-repeat;}
.banner25{background:url('../Tamil/images/oongaliAmman/1225.jpg') no-repeat;}
.banner26{background:url('../Tamil/images/oongaliAmman/1226.jpg') no-repeat;}


