/*Default setting,its value isn't changed.*/
.JWSSothinkBgC{background-color:transparent;}

/*Global setting.    It: item    G:global*/
.JWSItBS{border-style:solid;}
.JWSItBW{border-width:0px;}
.JWSItBC{border-color:#009966;}
.JWSGBgC{background-color:#FFFFFF;}
.JWSGBgI{background-image:none;}
.JWSGBgR{background-repeat:repeat;}


/*Item  or  item tip setting.   Ot: mouse out   Ov: mouse over    It:item     F: font    Tp: tip  i:item */

/*Item 0 */
.JWSItBgCi0{background-color:transparent;}
.JWSOtFi0{font:9pt Arial;}
.JWSOtFCi0{color:#000000;}
.JWSOtFDi0{text-decoration:none;}
.JWSOvFi0{font:9pt Arial;}
.JWSOvFCi0{color:#000000;}
.JWSOvFDi0{text-decoration:none;}

/*Item 1 */
.JWSItBgCi1{background-color:transparent;}
.JWSOtFi1{font:9pt Arial;}
.JWSOtFCi1{color:#000000;}
.JWSOtFDi1{text-decoration:none;}
.JWSOvFi1{font:9pt Arial;}
.JWSOvFCi1{color:#000000;}
.JWSOvFDi1{text-decoration:none;}

/*Item 2 */
.JWSItBgCi2{background-color:transparent;}
.JWSOtFi2{font:9pt Arial;}
.JWSOtFCi2{color:#000000;}
.JWSOtFDi2{text-decoration:none;}
.JWSOvFi2{font:9pt Arial;}
.JWSOvFCi2{color:#000000;}
.JWSOvFDi2{text-decoration:none;}
